<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Semaine {{ week.number }}</title>

  <!-- math rendering -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
    integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous" />
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"
    integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js"
    integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
    crossorigin="anonymous"></script>

  <!-- tikz rendering -->
  <link rel="stylesheet" type="text/css" href="http://tikzjax.com/v1/fonts.css">
  <script src="https://tikzjax.com/v1/tikzjax.js"></script>

  <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
  <link rel="stylesheet" href="/static/styles/colors.css">
  <link rel="stylesheet" href="/static/styles/common.css">
  <link rel="stylesheet" href="/static/styles/proof.css">

  <style>
    h1 {
      margin-bottom: 0.5rem;
    }

    .week-description {
      line-height: 100%;
      margin-bottom: 1rem;
    }


    h2 {
      margin-top: 4rem;
      margin-bottom: 2rem;

      break-after: avoid;
      break-inside: avoid;

      a {
        color: var(--text-color);
        text-decoration: initial;
      }
    }

    .toc {
      margin-top: 3rem;
    }

    .not-found {
      color: var(--red-color);
      font-weight: bold;
    }

    .metadata {
      margin-bottom: 1rem;
    }

    .metadata .date {
      display: inline;
      color: var(--subtext-color);
    }

    .metadata .date::after {
      content: "—";
      margin-left: 1em;
      margin-right: 1em;
    }

    /* Lists */
    ol>li {
      counter-increment: olist;
    }

    ol:not(.toc)>li::marker {
      content: "(" counter(olist, lower-roman) ") ";
    }

    /* Link indicator */
    h2>a {
      position: relative;
    }

    @media screen and (min-width: 700px) {
      h2>a::before {
        content: "#";
        font-weight: bold;
        position: absolute;
        left: 0;
        opacity: 0;
        color: var(--subtext-color);
        transition: all .2s ease;
      }

      h2>a:hover::before {
        left: -2rem;
        opacity: 1;
      }
    }


    @media print {

      h1,
      .week-description,
      .metadata {
        text-align: center;
      }

      h1 {
        border: 1px solid var(--text-color);
      }

      h2:first-of-type {
        margin-top: 1rem;
      }

      /* Avoid page-breaks after title */
      h2::after {
        content: "";
        display: block;
        height: 150px;
        margin-bottom: -150px;
      }

      .toc {
        display: none;
      }
    }
  </style>
</head>

<body>
  <h1>Semaine {{ week.number }}</h1>

  <p class="week-description">{{ week.description }}</p>

  <div class="metadata">
    <div class="date">{{ week.date }}</div>
    <ul class="authors">
      {% for author in authors %}
      <li>
        {{ author }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <ol class="toc">
    {% for proof in proofs %}
    {% if proof.title %}
    <li value="{{ loop.index }}"><a href="#{{ proof.pid }}">{{ proof.title }}</a></li>
    {% else %}
    <li value="{{ loop.index }}"><span class="not-found">Preuve non trouvée</span></li>
    {% endif %}
    {% endfor %}
  </ol>


  {% for proof in proofs %}
  {% if proof.title %}
  <h2 id="{{ proof.pid }}"><a href="/proof/{{ proof.pid }}">{{ loop.index }}. {{ proof.title }}</a></h2>

  {{ proof.content | safe }}

  {% else %}
  <h2 class="not-found">Preuve non trouvée</h2>
  {% endif %}
  {% endfor %}

  <script src="/static/math_rendering.js"></script>
  <script src="/static/theme.js"></script>
  <script src="/static/print.js"></script>
</body>

</html>
