/* Default to mocha */
body {
  --bg-color: #11111b;
  --text-color: #cdd6f4;
  --subtext-color: #45475a;
  --red-color: #f38ba8;
  --yellow-color: #f9e2af;
  --tags-color: #89b4fa;
  --links-color: #89b4fa;
}

body.theme-macchiato {
  --bg-color: #181926;
  --text-color: #cad3f5;
  --subtext-color: #494d64;
  --red-color: #ed8796;
  --yellow-color: #eed49f;
  --tags-color: #8aadf4;
  --links-color: #8aadf4;
}

body.theme-frappe {
  --bg-color: #232634;
  --text-color: #c6d0f5;
  --subtext-color: #51576d;
  --red-color: #e78284;
  --yellow-color: #e5c890;
  --tags-color: #8caaee;
  --links-color: #8caaee;
}

body.theme-latte {
  --bg-color: #dce0e8;
  --text-color: #181926;
  --subtext-color: #7c7f93;
  --red-color: #e64553;
  --yellow-color: #df8e1d;
  --tags-color: #04a5e5;
  --links-color: #04a5e5;
}

/* Printing theme */
@media print {
  body {
    --bg-color: white;
    --text-color: black;
    --subtext-color: #7c7f93;
    --red-color: #e64553;
    --yellow-color: #df8e1d;
    --tags-color: #04a5e5;
    --links-color: #04a5e5;
  }
}
