* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 20mm;
}

html {
  font-size: 140%;
}

@media print {
  html,
  body {
    width: 170mm;
    height: 257mm;
  }

  body {
    font-size: 3.8mm;
  }
}

h1 {
  margin-bottom: 1.5rem;
}

a {
  color: var(--links-color);
}

body {
  padding: 10vh 20vw;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Computer Modern Serif";
}

@media screen and (max-width: 1000px) {
  body {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 2rem 1rem;
  }
}

@media print {
  body {
    padding: 0 !important;
  }
}

/* Authors */
.authors {
  list-style-type: none;
  display: inline;
  text-align: left;
}

.authors li {
  display: inline;
  margin: 0;
}

.authors li:not(:last-of-type)::after {
  content: ",";
  margin-right: 0.2rem;
}

/* Tags */
ul.tags {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

ul > li.tag {
  margin: 0;
  display: inline;
  background-color: var(--tags-color);
  color: var(--bg-color);
  padding: 0.3em 0.8em;
  border-radius: 1em;
  white-space: nowrap;
  line-height: 100%;
}

/* Markdown */
p {
  line-height: 200%;
}

@media screen and (min-width: 1000px) {
  p {
    text-align: justify;
  }
}

blockquote {
  border-left: 2px solid var(--subtext-color);
  padding-left: 1rem;
}

section.footnotes {
  margin-top: 1.5rem;

  h3 {
    font-size: 1.2rem;
  }

  ol > li {
    margin-top: 0;
  }
}

hr {
  margin: 2rem 0;
  border-top: 2px solid var(--subtext-color);
  /* background-image: linear-gradient( */
  /*   to right, */
  /*   var(--subtext-color) 25%, */
  /*   25%, */
  /*   transparent 75%, */
  /*   75%, */
  /*   var(--subtext-color) */
  /* ); */
  /* background-position: center top; */
  /* background-repeat: repeat-x; */
  /* background-size: 30px 1px; */
  /* height: 1px; */
}

/* Lists */
ul > li {
  list-style-type: "▷  ";
}

ul > li > ul > li {
  list-style-type: "★  ";
}

ul > li > ul > li > ul > li {
  list-style-type: "−  ";
}

ul > li::marker {
  font-size: 0.8rem;
}

@media print {
  ul > li::marker {
    font-size: 0.5rem;
  }
}

ul > li,
ol > li {
  margin-left: 2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
  ul > li,
  ol > li {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 700px) {
  ul > li,
  ol > li {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

/* Maths */
.katex {
  font-size: 1em;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.tikz-figure {
  break-inside: avoid;
}

.tikz-figure > div {
  margin: 1rem auto;
}

body:not(.theme-latte) .tikz-figure svg {
  filter: invert(1);
}

@media print {
  body .tikz-figure svg {
    filter: none !important;
  }
}
