* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 140%;
}

h1 {
  margin-bottom: 1.5rem;
}

a {
  color: var(--links-color);
}

.katex {
  font-size: 1em;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  padding: 10vh 20vw;
  text-align: justify;
  line-height: 200%;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Computer Modern Serif";
}

@media screen and (max-width: 1000px) {
  body {
    padding: 3rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 2rem 1.5rem;
  }
}

.authors {
  text-align: left;
}

hr {
  margin: 2rem 0;
  border-top: 2px solid var(--subtext-color);
  /* background-image: linear-gradient( */
  /*   to right, */
  /*   var(--subtext-color) 25%, */
  /*   25%, */
  /*   transparent 75%, */
  /*   75%, */
  /*   var(--subtext-color) */
  /* ); */
  /* background-position: center top; */
  /* background-repeat: repeat-x; */
  /* background-size: 30px 1px; */
  /* height: 1px; */
}

ul > li {
  list-style-type: "▷  ";
}

ul > li > ul > li {
  list-style-type: "★  ";
}

ul > li > ul > li > ul > li {
  list-style-type: "−  ";
}

ul > li::marker {
  font-size: 0.8rem;
}

ul > li,
ol > li {
  margin-left: 2rem;
  margin-top: 1rem;
}

/* Tags */
ul.tags {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

ul > li.tag {
  margin: 0;
  display: inline;
  background-color: var(--tags-color);
  color: var(--bg-color);
  padding: 0.3em 0.8em;
  border-radius: 1em;
  white-space: nowrap;
  line-height: 100%;
}
