.not-found {
  color: var(--red-color);
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 3rem;

  a {
    color: var(--text-color);
    text-decoration: initial;
  }
}

@media screen and (max-width: 1000px) {
  .title {
    flex-direction: column;
  }
}

.metadata {
  margin-bottom: 1rem;

  .tags {
    flex: 1;
  }
}

.details {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authors {
  list-style-type: none;
  display: inline;
}

.authors li {
  display: inline;
  margin: 0;
}

.authors li:not(:last-of-type)::after {
  content: ",";
  margin-right: 0.5rem;
}

.date {
  display: inline;
  color: var(--subtext-color);
}

.metadata .date::after {
  content: "—";
  margin-left: 1em;
  margin-right: 1em;
}

ol > li {
  counter-increment: olist;
}

ol > li::marker {
  content: "(" counter(olist, lower-roman) ") ";
}

blockquote {
  border-left: 2px solid var(--subtext-color);
  padding-left: 1rem;
}

section.footnotes {
  margin-top: 1.5rem;

  h3 {
    font-size: 1.2rem;
  }

  ol > li {
    margin-top: 0;
  }
}
